.section1-contact{
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url(../images/contact.jpg), linear-gradient(rgb(26, 26, 26),rgb(32, 32, 32));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding: 50px 80px;
}

.text-contact{
    padding-top: 150px;
}

.text-contact h3{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 5px;
}

.text-contact h1{
    color: #ffffff;
    font-weight: 500;
    padding-top: 20px;
}

.map-contact{
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
}

.map-contact i{
    color: #ffffff;
    font-size: 45px;
    padding-right: 20px;
}

.map-contact p{
    color: #ffffff;
    padding-top: 10px;
    font-weight: 400;
}

.section2-contact{
    width: 100%;
    height: 100vh;
    padding: 50px 100px;
    padding-top: 100px;
}

.text-contact2{
    text-align: center;

}

.text-contact2 h3{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 5px;
    padding-bottom: 15px;
}

.text-contact2 h1{
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 15px;
}

.form{
    padding: 0 200px;
}

.form .form-contact input{
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 300;
    color: #1d1d1d;
    border: none;
    border-bottom: 1px solid #7c7c7c41;
    border-radius: 0;
}

.form .form-contact textarea{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 5px;
    color:#1d1d1d;
    border: none;
    border-bottom: 1px solid #7c7c7c41;
    border-radius: 0;
}