@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
:root {
  --unguTua: #481ea9;
  --unguMuda: #7853ce;
  --gradientUngu: linear-gradient(
    0deg,
    rgba(120, 83, 206, 1) 0%,
    rgba(72, 30, 169, 1) 100%
  );
  --biruTua: #06c0c7;
  --biruMuda: #5ff9ff;
  --cyan: #37dfd2;
  --orange: #ff8f5c;
  --gradientPink: linear-gradient(
    180deg,
    rgba(255, 94, 173, 1) 0%,
    rgba(223, 23, 122, 1) 100%
  );
  --white: #fff;
  --gradientBiru: linear-gradient(
    180deg,
    rgba(95, 249, 255, 1) 0%,
    rgba(6, 192, 199, 1) 99%
  );
  --gradientOrange: linear-gradient(
    180deg,
    rgba(255, 213, 137, 1) 0%,
    rgba(255, 123, 79, 1) 99%
  );
  --pink: #e82b88;
  --gradientBiruTua: linear-gradient(
    180deg,
    rgba(6, 192, 199, 1) 0%,
    rgba(0, 186, 193, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* HEADER MENU */
.header-main.sticky {
  background: #00000047;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  max-width: 100%;
}

.header-main.sticky .content {
  padding: 30px 0;
}

.header-main.sticky .content p,
.header-main.sticky .content .border {
  color: #252629;
}

.header-main.sticky .content .border:hover {
  border-bottom: 2px solid #252629;
}
/*header*/
.menu-items {
  display: none;
}
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
.menuLayout {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8131064082799333) 37%,
    rgba(255, 255, 255, 0) 100%
  );
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  margin: auto;
  position: relative;
  transition: all 0.5s;
  background: #384e92;
  padding: 0 2.8vw;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.63);
}
.header .logo {
  width: 100%;
  text-align: start;
}
.header .logo img {
  width: 10.3vw;
  margin-left: -1.5vw;
}
.header .nav-menu {
  width: 100%;
  text-align: center;
  height: max-content;
}
.header .menu > .menu-item {
  display: inline-block;
  position: relative;
}
.header .menu > .menu-item > a {
  display: block;
  font-size: 1.3vw;
  color: var(--white);
  font-weight: 500;
  transition: all 0.3s ease;
  margin: 0 2vw;
}
/* .menu-item .fa-chevron-down {
  font-size: 13px;
}

.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a {
  background-color: var(--unguMuda);
  color: var(--white);
}
.sub-menu li a {
  text-align: start;
  color: var(--white) !important;
  margin-bottom: 18px;
  font-size: 14px;
}
.sub-menu li a:hover {
  text-align: start;
  color: var(--white);
  text-decoration: underline;
}
.header .menu > .menu-item > .sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  position: absolute;
  left: 0;
  top: 105%;
  background-color: var(--unguMuda);
  padding: 10px 20px;
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  border-radius: 12px;
} */
.buttonMenu {
  width: 100%;
  justify-content: end;
  display: flex;
  gap: 0.2vw;
  z-index: 99;
}
.buttonMenu button:nth-child(1) {
  background: none;
  border: none;
  color: white;
  font-size: 1.2vw;
  padding: 0.5vw 1.4vw;
  cursor: pointer;
}
.buttonMenu button:nth-child(2) {
  background: #e13c32;
  border: none;
  color: white;
  font-size: 1.2vw;
  padding: 0.5vw 1.4vw;
  border-radius: 5px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header .menu > .menu-item-has-children:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .header .menu > .menu-item-has-children:hover > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.header .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  /* padding: 10px 20px; */
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.header .open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #ffffff;
  position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #ffffff;
  box-sizing: border-box;
}
.header .open-nav-menu span:before {
  top: -7px;
}
.header .open-nav-menu span:after {
  top: 7px;
}
.header .close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.header .close-nav-menu img {
  width: 16px;
}
.header .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

/* responsive */

@media (max-width: 768px) {
  .header .logo {
    width: 37%;
  }
  .header .logo img {
    width: 100%;
    margin-bottom: -9px;
    margin-left: 0;
  }
  .header-main {
    padding: 10px 0;
  }
  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background: linear-gradient(
      0deg,
      rgba(92, 52, 184, 1) 0%,
      rgba(92, 52, 184, 1) 100%
    );
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
  }
  .header .menu > .menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #7853ce;
    text-align: start;
    border-radius: 0;
    font-size: 16px;
  }
  .header .menu > .menu-item > a:hover {
    color: var(--biruMuda);
  }
  .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #7853ce;
  }
  .header .menu > .menu-item > a .plus:before,
  .header .menu > .menu-item > a .plus:after {
    background-color: #ffffff;
  }
  .header .menu > .menu-item-has-children.active > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background: linear-gradient(
      0deg,
      rgb(64, 33, 136) 0%,
      rgb(64, 35, 133) 100%
    );
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
    border-radius: 0;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 12px 25px;
    color: #ffffff;
    border-bottom: 1px solid #7853ce;
    font-weight: 300;
  }
  .header .close-nav-menu,
  .header .open-nav-menu {
    display: flex;
  }
  .buttonMenu {
    display: none;
  }
  .menu-items {
    width: 100%;
    justify-content: start;
    display: flex;
    gap: 10px;
    z-index: 99;
    padding: 15px;
  }
  .menu-items a {
    color: var(--white);
  }
  .menu-items button:nth-child(1) {
    border: 2px solid var(--pink);
    border-radius: 100px;
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
  }
  .menu-items button:nth-child(1):hover {
    color: var(--white);
    background: var(--pink);
    border: 2px solid var(--pink);
    cursor: pointer;
  }
  .menu-items button:nth-child(2) {
    border: 2px solid var(--cyan);
    border-radius: 100px;
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
  }
  .menu-items button:nth-child(2):hover {
    color: var(--white);
    background: var(--cyan);
    border: 2px solid var(--cyan);
    cursor: pointer;
  }
}

/* HEADER-BANNER */
/* .headerBanner{
 background-image: url(../images/slideBanner1.png), linear-gradient(rgba(0, 0, 0, 0.883),rgba(0, 0, 0, 0.904));
 height: 120vh;
 background-position:center;
 background-repeat: no-repeat;
 background-size: cover;
 background-blend-mode: overlay;
 width: 100%;
 transition: 2s;

 animation-name: animate;
 animation-direction: alternate-reverse;
 animation-play-state: running;
 animation-timing-function: ease-in;
 animation-duration: 10s;
 animation-fill-mode: forwards;
 animation-iteration-count: infinite;
}
@keyframes animate {
    0%{
        background-image: url(../images/slideBanner3.png), linear-gradient(rgba(0, 0, 0, 0.418),rgba(0, 0, 0, 0.418));
        background-position: top;
    }
    50%{
        background-image: url(../images/slideBanner2.png), linear-gradient(rgba(0, 0, 0, 0.418),rgba(0, 0, 0, 0.418));
    }
    100%{
        background-image: url(../images/slideBanner1.png), linear-gradient(rgba(0, 0, 0, 0.418),rgba(0, 0, 0, 0.418));
    }
}
.headingBanner{
 position: relative;
 width: 100%;
 text-align: center;
} */
.slide-content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #304481;
  gap: 3vw;
  position: relative;
}
.slide-content-1 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.1;
}
.slide-description-1 {
  width: 100%;
  padding-left: 4vw;
  z-index: 1;
}
.slide-description-1 p {
  font-size: 3vw;
  color: white;
}
.slide-image-1 {
  width: 100%;
  z-index: 1;
}
.slide-image-1 img {
  width: 53vw !important;
  display: block;
  margin-top: -7vw;
  margin-left: -5vw;
}
.slide-content {
  background-position: center;
  background-size: cover;
}

.slide-content img {
  display: block;
  width: 100%;
}

/* BERITA */
.berita {
  width: 100%;
  height: max-content;
  padding: 5vw 4vw;
}
.berita-heading {
  width: 25vw;
  gap: 0.7vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: auto;
}
.berita-heading span {
  font-size: 1.9vw;
  font-weight: 600;
  color: #595959;
}
.divider-layout {
  position: relative;
}
.divider-layout .divider {
  width: 90%;
  height: 0.2vw;
  background: #e13c32;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.berita-slide {
  width: 80%;
  margin: auto;
  height: max-content;
  margin-top: 3vw;
}
.berita-wrapper {
  padding-bottom: 5vw;
}
.box-berita {
  position: relative;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
}
.berita-image {
  width: 100%;
  position: relative;
  height: 30vw;
}
.berita-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.berita-content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.639);
  padding: 0.8vw;
  color: white;
}
.berita-content h3 {
  font-size: 1.3vw;
  font-weight: 500;
  padding: 0.3vw;
}
.berita-content p {
  font-size: 1.1vw;
  padding: 0.3vw;
}
.lokasi-berita {
  margin-top: 1vw;
  padding: 0.3vw;
}
.lokasi-berita span {
  font-size: 1.2vw;
  font-weight: 400;
}
/* BERITA END*/

/* SECTION 3 */
.section3-homepage {
  width: 100%;
  height: max-content;
  padding: 2vw 4vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding-bottom: 3vw;
  grid-gap: 2.2vw;
}
.section3-homepage-image img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
}
.section3-homepage-description h1 {
  font-size: 3vw;
  color: #364a87;
}
.section3-homepage-description {
  padding: 1vw 0;
}
.section3-homepage-description p {
  font-size: 1.4vw;
  color: #595959;
}
.section3-homepage-description button {
  background: #e13c32;
  border: none;
  border-radius: 5px;
  padding: 0.6vw 1.4vw;
  color: white;
  font-size: 1.4vw;
  cursor: pointer;
  margin-top: 1vw;
}
/* SECTION 3 END */

/* NUMBER COUNT */
.number-count {
  padding: 4.3vw 4vw;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4vw;
}
.count-content {
  text-align: center;
  padding: 1.4vw;
  border-radius: 5px;
}
.count-content .count {
  color: #e13c32;
  font-weight: 600;
  font-size: 3vw;
}
.count-content p {
  font-size: 1.3vw;
}
/* NUMBER COUNT END */
