@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');
*{
    padding: 0;
    margin:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

nav{
    background-color: #00308a;
    width: 100%;
    height: 80px;
    padding: 0 100px;
}

.logo{
    width: 100px;
    height: auto;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
}

nav ul li a{
    font-size: 18px;
    color: #e7e7e7;
    margin-left: 8px;
    padding: 4px 13px;
    border-radius: 3px;
    text-decoration: none;
}

a.active{
    background-color: rgb(231, 36, 36);
    color: #ffffff;
}
a:hover{
    background-color: #ffffff;
    transition: .5s;
    color: #131313;
}

.checkbtn{
    color: #073ea5;
    font-size: 30px;
    float: right;
    line-height: 70px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width : 952px) { 
    nav{
        padding: 9px 40px;
    }
    .logo{
        width: 80px;
        height: auto;
    }
    nav ul li a{
        font-size: 17px;
    }
}

@media (max-width : 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #063181;
        top: 80px;
        right:-100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin: 10px 0;
    }

    nav ul li a{
        font-size: 20px;
        color: #ffffff;
    }

    a.active{
        background: none;
        color: #ffdf29;
    }
    a:hover{
        background: none;
        color: #ffdf29;
    }

    #check:checked ~ ul{
        right: 0;
    }
}

section{
    width: 100%;
    height: calc(100vh - 80px);
    background: url(../images/image4.jpg) no-repeat , linear-gradient(to right, rgba(228, 228, 228, 0),rgba(230, 230, 230, 0.452));
    background-size:150%;
    background-blend-mode: overlay;
    padding: 50px 100px;
    box-sizing: border-box;
    background-position:center ;
    background-position-y: 0;
}

section .header{
    position: relative;
    top: 20%;
    padding-left: 250px;
}

.header h1{
    color: #0f0f0fe3;
    font-size: 100px;
    line-height: 80px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

.header h2{
    color: #0f0f0fe8;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
}

.header h5{
    color: #131313;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: 'Noto Sans JP', sans-serif;
}

.header button{
    border: none;
    padding:10px 45px;
    background: #c93939;
    border-radius: 3px;
    margin-top: 35px;
}

.header a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
@media (max-width : 858px) {
    .header h1{
        font-size: 45px;
    }
    .header h5{
        font-size: 15px;
    }
}

.section2{
    width: 100%;
    height: max-content;
    padding: 70px 100px;
}

.text1 h1{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

.text1 .line{
    width: 100px;
    background-color: #c93939;
    height: 2px;
    margin: auto;
}

.text1 p{
    text-align: center;
    padding: 20px 50px;
    font-size: 18px;
    line-height: 25px;
    color: #063181;
}

.section3{
    padding: 50px 100px;
    background: url(../images/image2.jpg), linear-gradient(to right,rgba(0, 57, 131, 0.342),rgb(0, 57, 131));
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
    height: 80vh;
}

.text2{
    padding-left: 50%;
    padding-top: 100px;
}

.text2 .line{
    width: 100px;
    background-color: #ffffff;
    height: 2px;
    margin-left: 0;
    margin-bottom: 10px;
}

.text2 h1{
    margin-bottom: 10px;
    color:#ffffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
}

.text2 p{
    color: #ffffff;
}

.section4{
    padding: 50px 100px;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
}

.text3 h1{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.text3 .line{
    width: 100px;
    background-color: #c93939;
    height: 2px;
    margin:auto;
}

.text3 p{
    text-align: center;
    text-align: center;
    padding: 20px 50px;
    font-size: 18px;
    line-height: 25px;
    color: #063181;
}

.col .card{
    padding: 35px 25px;
}

.col .card:hover{
    border: 1px solid #063181;
    transition-duration: 0.7s;
}

.card img{
    width: 65px;
    height: auto;
    margin-left: 10px;
}

.card-body p{
    text-align: start;
    padding:0;
    font-size: 15px;
}

.card-body .line{
    width: 80px;
    background-color: #c93939;
    height: 1px;
}

.section5{
    padding: 50px 100px;
    height: max-content;
    width: 100%;
    box-sizing: border-box;
}

.gambar-section-5 img{
    width: 100%;
    height: auto;
}

.text-section-5 h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}

.text-section-5 .line{
    width: 100px;
    background-color: #c93939;
    height: 2px;
    margin-left: 0;
    margin-top: 35px;
    margin-bottom: 35px;
}

.text-section-5 p{
    font-size: 16px;
    color: #636363;
}

.text-section-5 button{
    border: none;
    padding:10px 45px;
    background: #063181;
    border-radius: 3px;
    margin-top: 15px;
}

.text-section-5 a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    font-weight: 600;
    background: none;
}

.text-section-5 a:hover{
    color: #ffffff;
}

.section6{
    padding: 80px 100px;
    width: 100%;
    box-sizing: border-box;
    height: max-content;
    text-align: center;
    justify-content: center;
    background-image: url(../images/image6.jpg),  linear-gradient(to right,rgb(46, 46, 46),rgb(59, 55, 55));
    background-size: cover;
    background-blend-mode: multiply;
}

.section6 .text-section-6 h1{
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 47px;
    line-height: 80px;
}

.section6 .text-section-6 p{
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.section7{
    padding: 80px 100px;
    width: 100%;
    box-sizing: border-box;
    height: max-content;
}

.partnership{
    text-align: center;
}

.partnership img{
    margin: auto 50px;
}

.footer{
    width: 100%;
    height: max-content;
    padding: 30px 100px;
    box-sizing: border-box;
    text-align: center;
    line-height: 25px;
    background-color: #171827;
}

.footer img{
    width: 13%;
    height: auto;
}

.footer i{
    color: #a0a0a0;
    margin: 10px 15px;
}

.footer p{
    line-height: 10px;
    margin-top: 15px;
    color:#a0a0a0;
}

.copyright{
    width: 100%;
    height: max-content;
    padding: 15px 100px;
    background-color: #202020;
}

.text-copyright h1 {
    color: #a0a0a0;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}

.text-copyright a{
    color: #ffffff;
    text-decoration: none;
    background: none;
}

.text-copyright a:hover{
    color: #ffffff;
}