@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');
*{
    padding: 0;
    margin:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


.logo{
    width: 100px;
    height: auto;
}

.navbar-nav{
    margin-left: auto;
}

@media (min-width: 992px) {
    .navbar-brand, .nav-link{
        color: #000000 !important;
        margin-left: 10px;
    }


 }
section{
    width: 100%;
    height:calc(100vh - 80px);
    background: url(../images/background-header.jpg) no-repeat , linear-gradient(to right, rgba(27, 27, 27, 0.877),rgba(27, 27, 27, 0.801));
    background-size:cover;
    background-blend-mode: overlay;
    padding: 50px 100px;
    box-sizing: border-box;
    background-position: center;
}

.header{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
}

.header h1{
    color: #ffffffe3;
    font-size: 80px;
    font-weight: 500;
    line-height: 70%;
}

.header h2{
    color: #ffffffe8;
    font-size: 50px;
    font-weight: 700;
}

.header h5{
    color: #ffffff;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
}

.header input{
    padding: 10px 25px;
    border-radius: 50px;
    color: #033aa0;
    border: 0;
    margin-top: 10px;
    transition: 5ms;
}

.header input:hover{
    background-color: #033aa0;
    color: #fff;
}
@media (max-width : 576px) {
    section{
        height: calc(100vh - 80px);
        background-size: cover;
    }

    section .header{
        flex-direction: column;
        justify-items: none;
        text-align: center;
    }

    .header h1{
        color: #0f0f0fe3;
        font-size: 50px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        line-height: 50px;
    }
    
    .header h2{
        color: #0f0f0fe8;
        font-size: 30px;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    .header h5{
        color: #131313;
        font-weight: 400;
        font-size: 17px;
        text-transform: uppercase;
        margin-top: 20px;
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 3px;
    }
    
    .header button{
        border: none;
        padding:8px 30px;
        background: #c93939;
        border-radius: 3px;
        margin-top: 20px;
    }
    
    .header a{
        text-decoration: none;
        color: #ffffff;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 11px;
        font-weight: 500;
    }

}
    

@media (max-width : 576px) {
    .section2{
        width: 100%;
        height: max-content;
        padding: 70px 70px;
    }
    
    .text1 h1{
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        padding-bottom: 20px;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    .text1 .line{
        width: 100px;
        background-color: #c93939;
        height: 2px;
        margin: auto;
    }
    
    .text1 p{
        text-align: center;
        padding: 20px 0;
        font-size: 18px;
        line-height: 25px;
        color: #063181;
    }
}

.section3{
    padding: 50px 100px;
    background: url(../images/image2.jpg), linear-gradient(to right,rgba(0, 57, 131, 0.342),rgb(0, 57, 131));
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
    height: 80vh;
}

.text2{
    padding-left: 50%;
    padding-top: 100px;
}

.text2 .line{
    width: 100px;
    background-color: #ffffff;
    height: 2px;
    margin-left: 0;
    margin-bottom: 10px;
}

.text2 h1{
    margin-bottom: 10px;
    color:#ffffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
}

.text2 p{
    color: #ffffff;
}

.section4{
    padding: 50px 100px;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
}

.text3 h1{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.text3 .line{
    width: 100px;
    background-color: #c93939;
    height: 2px;
    margin:auto;
}

.text3 p{
    text-align: center;
    text-align: center;
    padding: 20px 50px;
    font-size: 18px;
    line-height: 25px;
    color: #063181;
}

.col .card{
    padding: 35px 25px;
    margin: auto;
}

.col .card:hover{
    border: 1px solid #063181;
    transition-duration: 0.7s;
}

.card img{
    width: 65px;
    height: auto;
    margin-left: 10px;
}

.card-body p{
    text-align: start;
    padding:0;
    font-size: 15px;
}

.card-body .line{
    width: 80px;
    background-color: #c93939;
    height: 1px;
}

.section5{
    padding: 50px 100px;
    height: max-content;
    width: 100%;
    box-sizing: border-box;
}

.gambar-section-5 img{
    width: 100%;
    height: auto;
}

.text-section-5 h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}

.text-section-5 .line{
    width: 100px;
    background-color: #c93939;
    height: 2px;
    margin-left: 0;
    margin-top: 35px;
    margin-bottom: 35px;
}

.text-section-5 p{
    font-size: 16px;
    color: #636363;
}

.text-section-5 button{
    border: none;
    padding:10px 45px;
    background: #063181;
    border-radius: 3px;
    margin-top: 15px;
}

.text-section-5 a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    font-weight: 600;
    background: none;
}

.text-section-5 a:hover{
    color: #ffffff;
}

.section6{
    padding: 80px 100px;
    width: 100%;
    box-sizing: border-box;
    height: max-content;
    text-align: center;
    justify-content: center;
    background-image: url(../images/image6.jpg),  linear-gradient(to right,rgb(46, 46, 46),rgb(59, 55, 55));
    background-size: cover;
    background-blend-mode: multiply;
}

.section6 .text-section-6 h1{
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 47px;
    line-height: 80px;
}

.section6 .text-section-6 p{
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.section7{
    padding: 80px 100px;
    width: 100%;
    box-sizing: border-box;
    height: max-content;
}

.partnership{
    text-align: center;
}

.partnership img{
    margin: auto 50px;
}

.footer{
    width: 100%;
    height:max-content;
    padding: 50px 0;
    background-color: #363636;
    color: #fff;
}

.footer-1{
    line-height: 30px;
}


.footer .img-footer img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.profile-footer a{
    display: flex;
    flex-direction: column;
    width: 100px;
    line-height: 35px;
    text-decoration: none;
    color: #FFF;
}

.profile-footer h2{
    font-size: 25px;
    font-weight: 500;
   color:#ffdf29;
}

.link-footer{
    margin-top: 20px;
}
.link-footer h2{
    font-size: 25px;
    font-weight: 500;
    color:#ffdf29;
}

.link-footer a{
    display: flex;
    flex-direction: column;
    line-height: 35px;
    text-decoration: none;
    color: #FFF;
}

.link-footer a:hover{
    background-color: transparent;
    color: #fff;
}

.profile-footer a:hover{
    background-color: transparent;
    color: #fff;
}

.footer-3 h2{
    font-weight: 500;
    font-size: 25px;
    color: #ffdf29;
}

.footer-3 .ig img{
    width: 70px;
}

.copyright{
    width: 100%;
    height: max-content;
    padding: 15px 100px;
    background-color: #202020;
}

.text-copyright h1 {
    color: #a0a0a0;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}

.text-copyright a{
    color: #ffffff;
    text-decoration: none;
    background: none;
}

.text-copyright a:hover{
    color: #ffffff;
}